# Environnement virtuel
venv
.env

# Fichiers Python compilés  temporaires
__pycache__/


# Dépendances 
.egg-info
.eggs

# Configuration IDE  éditeurs
.vscode
.idea
.swp

# Jupyter
.ipynb_checkpoints

# Fichiers CSV générés par l’analyse
.csv
!jeu_test.csv  # - garde ton fichier d'entrée si tu veux le versionner

# Fichiers système
.DS_Store
Thumbs.db

# Ignorer le dossier généré par MkDocs
/public/
site/
